<!DOCTYPE html>
<html>

<head>
    <title>Thời tiết</title>
</head>

<body>
    <div class="weather-container">
        <h1>Thông tin thời tiết</h1>
        <div class="weather-data">
            <p><strong>Vị trí:</strong> <span id="location">{{ location }}</span></p>
            <p><strong>Tốc độ gió:</strong> <span id="windSpeed">{{ windSpeed }}</span></p>
            <p><strong>Nhiệt độ:</strong> <span id="temperature">{{ temperature }}</span> &#8451;</p>
            <p><strong>Nhiệt độ cao nhất:</strong> <span id="maxTemp">{{ maxTemp }}</span> &#8451;</p>
            <p><strong>Nhiệt độ thấp nhất:</strong> <span id="minTemp">{{ minTemp }}</span> &#8451;</p>
        </div>
    </div>
</body>

</html>